.elementor-5264 .elementor-element.elementor-element-e23b690 {text-align: center;}
.elementor-5264 .elementor-element.elementor-element-e23b690 .elementor-heading-title {font-family: "Amaranth",Sans-serif;}
.elementor-5264 .elementor-element.elementor-element-9764b47 {text-align: center;}
.elementor-5264 .elementor-element.elementor-element-9764b47 .elementor-heading-title {font-family: "Amaranth",Sans-serif;}
.elementor-5264 .elementor-element.elementor-element-7ff38d1 {text-align: center;}
.elementor-5264 .elementor-element.elementor-element-7ff38d1 .elementor-heading-title {font-family: "Amaranth",Sans-serif;}
.elementor-5264 .elementor-element.elementor-element-f845313 {text-align: center;}
.elementor-5264 .elementor-element.elementor-element-f845313 .elementor-heading-title {font-family: "Amaranth",Sans-serif;}
.elementor-5264 .elementor-element.elementor-element-e55ac27 .elementor-spacer-inner {height: 29px;}
.elementor-5264 .elementor-element.elementor-element-732335e .elementor-spacer-inner {height: 29px;}
.elementor-5264 .elementor-element.elementor-element-312d5af .elementor-spacer-inner {height: 29px;}