.elementor-3155 .elementor-element.elementor-element-bf9b47a .elementor-spacer-inner {height: 50px;}
.elementor-3155 .elementor-element.elementor-element-8220444 {text-align: center;}
.elementor-3155 .elementor-element.elementor-element-8220444 .elementor-heading-title {font-family: "Amaranth",Sans-serif;}